/* CSS pro plovouci tlacitko */

#myBtn {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 1;
    border: none;
    outline: none;
    background-color: #eb9737;
    color: #2f3640;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #555;
}